VITE_MAIN_API=https://api.amarsolution.xyz/main/api/
VITE_HRM_API=https://api.amarsolution.xyz/hrm/api/
VITE_ACCOUNTS_API=https://api.amarsolution.xyz/accounts/api/
VITE_INVENTORY_API=https://api.amarsolution.xyz/inventory/api/
VITE_CRM_API=https://api.amarsolution.xyz/crm/api/
VITE_MODULES=web,hrm,accounts,billing,crm


# VITE_MAIN_API=http://localhost:8000/api/
# VITE_HRM_API=http://localhost:7000/api/
# VITE_ACCOUNTS_API=http://localhost:7500/api/
# VITE_INVENTORY_API=http://localhost:7600/api/
# VITE_CRM_API=http://localhost:7800/api/
# VITE_MODULES=web,hrm,accounts,billing,mfg,crm,

